/*Header css*/
  .header {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    box-shadow: inset;
    padding: 0 16px;

    z-index: 1001;
  }

  /*Left section*/
    .left-section {
      display: flex;
      align-items: center;
    }
    .berger-item {
      height: 26px;
      width: 26px;
      border-radius: 50px;
      padding: 8px;
      margin: 0 0 0 4px;
      cursor: pointer;
      transition: all 0.2s ease;
    }
    .berger-item:hover {
      transform: scale(1.05);
      background-color: rgb(225, 225, 225);
    }
    .ytb-item {
      height: 20px;
      width: 93px;
      padding: 18px 14px 18px 16px;
      cursor: pointer;
    }
  /*Left section*/
  
  /*Middle section*/
    .middle-section {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search {
      flex: 1;
      display: flex;
      position: relative;
      margin: 0 0 0 40px;
      padding: 0 4px;
      height: 40px;
      color: #0f0f0f;
      max-width: 700px;
    }
    .search-bar {
      align-items: center;
      border: 1px solid;
      border-color: #c6c6c6;
      border-right: 0;
      background-color: #fff;
      box-shadow: inset 0 1px 2px #eee;
      border-radius: 40px 0 0 40px;
      margin-left: 32px;
      padding: 0 4px 0 16px;
      display: flex;
      flex: 1;
      width: 0;
    }
    .search-btn {
      border: 1px solid #d3d3d3;
      background-color: #f8f8f8;
      width: 64px;
      border-radius: 0 40px 40px 0;
      justify-content: center;
      cursor: pointer;
      height: 40px;
    }
    .search-img {
      height: 100%;
      width: 100%;
    }
    .voice-search-btn {
      background-color: #f1f1f1;
      border: none;
      margin-left: 12px;
      height: 40px;
      width: 40px;
      border-radius: 50px;
      cursor: pointer;
    }
    .voice-img {
      height: 100%;
      width: 100%;
    }
  /*Middle section*/
  
  /*Right section*/
    .right-section {
      margin-right: 0;
      display: flex;
      align-items: center;
    }
    .right-section-contain {
      display: flex;
      align-items: center;
      justify-content: start; 
      justify-content: space-between;
      gap: 20px;
      flex-shrink: 0;
    }
    .create-btn {
      background-color: #f1f1f1;
      border: none;
      border-radius: 30px;
      height: 36px;
      width: 80px;
      margin-left: 10px;
      cursor: pointer;
    }
    .create-img {
      height: 100%;
      width: 100%;
    }
    .notifications {
      border-radius: 50px;
      background-color: #f8f9fa;
      height: 26px;
      width: 26px;
      padding: 4px;

      position: relative;
      cursor: pointer;
    }
    .notif-img {
      height: 100%;
      width: 100%;
    }
    .notif-count {
      background-color: red;
      color: white;
      font-size: 10px;
      padding: 2px 5px;
      border: 1px solid white;
      border-radius: 50px;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .page-profil {
      height: 35px;
      width: 35px;
      cursor: pointer;
    }
    .profil-img {
      height: 100%;
      width: 100%;
      border-radius: 50px;
    }
  /*Right section*/

  /*Position Relative and Absolute*/
    .voice-search-btn,
    .notifications,
    .create-btn {
      display: flex;
      justify-content: center;
      position: relative;
    }
    .voice-search-btn .toolltip,
    .notifications .toolltip,
    .create-btn .toolltip {
      position: absolute;
      background-color: #9f9f9f;
      color: white;
      font-size: 12px;
      border-radius: 3px;
      padding: 4px;
      bottom: -30px;
      white-space: nowrap;
      pointer-events: none;
      opacity: 0;
      transition: all 0.2s ease;
    }
    .voice-search-btn:hover .toolltip,
    .notifications:hover .toolltip,
    .create-btn:hover .toolltip {
      transform: scale(1.05);
      opacity: 1;
    }


  /*Position Relative and Absolute*/

/*Header css*/

