/*Shorts Styles*/
.shorts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 16px 0;
  background-color: #f9f9f9;
}
.shorts-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: auto;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
}
.shorts-logo {
  width: 40px;
  height: 40px;
}
.shorts-icon-img {
  width: 100%;
  height: 100%;
  fill: #FF0000;
}

.shorts-title {
  font-size: 20px;
  font-weight: 500;
}
.shorts-options {
  font-size: 24px;
  cursor: pointer;
}

.shorts-grid {
  display: grid;
  
  grid-template-columns: repeat(
    auto-fit,
    minmax(160px, 1fr)
  );

  max-width: calc(6 * 180px);
  margin: 0 auto;

  gap: 16px;
}
.shorts-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shorts-item:hover .shorts-video {
  transform: scale(1.03);
  transition: all 0.6s ease;
}

.shorts-item:hover .shorts-img {
  transform: scale(1.03);
  transition: all 0.6s ease;
}

.shorts-video {
  border-radius: 8px;
  height: 360px;
  overflow: hidden;
}

.shorts-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shorts-info-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.shorts-title-p {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
}

.shorts-title {
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  margin-top: 14px;
  margin-bottom: 4px;
}
.shorts-views {
  font-size: 14px;
  color: #606060;
}
.shorts-info-options {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  right: 0;
  top: 10px;
}