
body {
  /* This style below will be inherited */
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding-top: 125px;
  padding-left: 100px;
  padding-right: 24px;
  padding-bottom: 50px;
  background-color: rgb(248, 248, 248);


  @media (max-width: 768px) {
    padding-top: 150px;
    padding-left: 16px;
    padding-right: 16px;
  }
}