/* Sidebar Styles */
  .sidebar {
    background-color: #f8f9fa;
    position: fixed;
    top: 56px;
    left: 0;
    width: 72px;
    bottom: 0;
    z-index: 2000;
    padding: 0 4px;
  }
  .sidebar-link {
    padding: 16px 0 14px;
    outline: 0;
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .sidebar-link:hover {
    transform: scale(1.05);
    background-color: lightgray;
  }
  .item-icon {
    height: 30px;
    width: 30px;
  }
  .sidebar-link-text {
    font-size: 11px;
    margin-top: 5px;
  }
/* Sidebar Styles */

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
